<div class="card">
    <p-toast key="tst"></p-toast>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="fullName">Full Name</label>
                <input id="fullName" formControlName="fullName" type="text" placeholder="Full Name" pInputText>
            </div>

            <div class="field col-12 md:col-6">
                <label for="mobile">Mobile</label>
                <input id="mobile" formControlName="mobile" type="text" placeholder="Mobile Number" pInputText>
            </div>

                <div class="field col-12 md:col-6">
                    <label for="role">Role</label>
                    <p-dropdown formControlName="roles" [options]="roles" placeholder="Select a Role"
                        optionLabel="value" [showClear]="true"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="module">Module</label>
                    <p-multiSelect formControlName="modules" [options]="modules" defaultLabel="Select Modules"
                        optionLabel="value">
                    </p-multiSelect>
                </div>

            <div class="field col-12 md:col-6">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="text" placeholder="Email address" pInputText>
            </div>
            
            <div class="field col-12 md:col-6">
                <label for="password">Password</label>
                <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="true"></p-password>
            </div>
            <button pButton pRipple label="Register" type="submit" class="w-full p-3 text-xl" [disabled]="!form.valid"></button>
        </div>
    </form>
</div>
