<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <!-- <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"> -->
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="p-fluid">

                        <div class="field">
                            <label for="email">Email</label>
                            <input id="email" formControlName="email" type="text" placeholder="Email address"
                                pInputText>
                        </div>

                        <div class="field">
                            <label for="password">Password</label>
                            <p-password id="password" formControlName="password" placeholder="Password"
                                [toggleMask]="true"></p-password>
                        </div>
                        <button pButton pRipple label="Register" type="submit" class="p-3 text-xl"
                            [disabled]="!form.valid"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>